.Paragraph-Style-3
{
	font-family: open-sans-n8, sans-serif;
}

.Paragraph-Style-4
{
	font-family: open-sans-n3, sans-serif;
}

.Paragraph-Style-5
{
	font-family: open-sans-i4, sans-serif;
}

.Paragraph-Style-6,.Paragraph-Style-7
{
	font-family: open-sans-n6, sans-serif;
}

