	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		padding-bottom: 62px;
	}

	#u11467_align_to_page
	{
		padding-top: 22px;
		padding-bottom: 65px;
	}

	#u11471-4
	{
		min-height: 36px;
		font-size: 30px;
		line-height: 36px;
		margin-right: -10000px;
		margin-top: 4px;
		width: 22.3%;
		left: 2.66%;
	}

	#nachalo
	{
		left: 956px;
	}

	#u11468-4
	{
		min-height: 113px;
		line-height: 96px;
		width: 95.94%;
		left: 2.66%;
	}

	#pu11471-4,#pu11469-4
	{
		position: relative;
		width: 100%;
	}

	#u11469-4
	{
		min-height: 52px;
		font-size: 37px;
		line-height: 44px;
		margin-right: -10000px;
		width: 62.45%;
		left: 2.66%;
	}

	#u11614-4
	{
		min-height: 42px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 26px;
		width: 14.22%;
		left: 65.11%;
	}

	#u11615-4
	{
		min-height: 42px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 26px;
		width: 16.72%;
		left: 82.24%;
	}

	#u11467,#u11467-bw
	{
		min-height: 308px;
	}

	#u17363
	{
		width: 1072px;
		min-height: 639px;
		position: relative;
		margin-right: -10000px;
		left: 72px;
	}

	#pu14786
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 33.86%;
		margin-left: 65.11%;
	}

	#u14786
	{
		height: 55px;
		width: 99.85%;
	}

	#u11470-4
	{
		min-height: 50px;
		font-size: 30px;
		line-height: 36px;
		width: 100%;
	}

	#u11472-4
	{
		min-height: 62px;
		font-size: 30px;
		line-height: 36px;
		width: 100%;
	}

	#u11474-4
	{
		min-height: 54px;
		font-size: 24px;
		line-height: 29px;
		width: 99.85%;
	}

	#u11475-4,#u11476-4
	{
		min-height: 56px;
		font-size: 24px;
		line-height: 29px;
		width: 99.85%;
	}

	#u11477-4
	{
		min-height: 36px;
		font-size: 24px;
		line-height: 29px;
		width: 99.85%;
	}

	#u11483
	{
		margin-top: 34px;
		width: 64%;
	}

	#u11478-4
	{
		min-height: 36px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 34px;
		width: 99.85%;
	}

	#u11482
	{
		margin-top: 42px;
		width: 64%;
	}

	#u11479-4
	{
		min-height: 49px;
		font-size: 24px;
		line-height: 29px;
		margin-top: 33px;
		width: 99.85%;
	}

	#u11480-5
	{
		min-height: 36px;
		width: 99.85%;
	}

	#u11473-4
	{
		min-height: 54px;
		font-size: 30px;
		line-height: 36px;
		margin-top: 15px;
		width: 33.86%;
		margin-left: 2.61%;
	}

	#u11612-16
	{
		min-height: 249px;
		line-height: 29px;
		width: 96.31%;
		margin-left: 2.61%;
	}

	#marshrut
	{
		margin-left: 946px;
	}

	#u11485-4
	{
		min-height: 101px;
		line-height: 96px;
		margin-top: 13px;
		width: 56.72%;
		margin-left: 2.87%;
	}

	#u11488-5
	{
		min-height: 131px;
		font-size: 24px;
		line-height: 29px;
		margin-top: 17px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11491
	{
		width: 97.97%;
		margin-left: 1.05%;
	}

	#u11486-4
	{
		min-height: 101px;
		line-height: 96px;
		margin-top: 36px;
		width: 56.72%;
		margin-left: 2.87%;
	}

	#u11489-4
	{
		line-height: 29px;
		margin-top: 23px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11495
	{
		margin-right: -10000px;
		width: 47.87%;
		left: 51.1%;
	}

	#pu11490-6
	{
		margin-top: 45px;
		width: 100%;
	}

	#u11497
	{
		margin-right: -10000px;
		margin-top: 282px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11499
	{
		margin-right: -10000px;
		margin-top: 282px;
		width: 48.03%;
		left: 50.94%;
	}

	#pu11501-6
	{
		margin-top: 50px;
		width: 100%;
	}

	#u11504
	{
		margin-right: -10000px;
		margin-top: 185px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11506
	{
		margin-right: -10000px;
		margin-top: 185px;
		width: 47.82%;
		left: 1.05%;
	}

	#pu11508-4
	{
		margin-top: 20px;
		width: 100%;
	}

	#u11508-4
	{
		min-height: 48px;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-right: -10000px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11509-4
	{
		min-height: 48px;
		font-size: 18px;
		line-height: 22px;
		position: relative;
		margin-right: -10000px;
		width: 47.82%;
		left: 51.15%;
	}

	#pu11515-4
	{
		margin-top: 25px;
		width: 100%;
	}

	#u11515-4
	{
		min-height: 23px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11516-4
	{
		min-height: 23px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11492
	{
		margin-top: 49px;
		width: 97.97%;
		margin-left: 1.05%;
	}

	#u11487-4
	{
		min-height: 137px;
		line-height: 96px;
		margin-top: 36px;
		width: 56.72%;
		margin-left: 2.87%;
	}

	#u11502-6
	{
		line-height: 29px;
		margin-right: -10000px;
		width: 97.92%;
		left: 1.1%;
	}

	#u11517
	{
		display: block;
		vertical-align: top;
		margin-right: -10000px;
		margin-top: 126px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11519
	{
		display: block;
		vertical-align: top;
		margin-right: -10000px;
		margin-top: 126px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11490-6,#u11501-6,#u11503-6
	{
		line-height: 29px;
		margin-right: -10000px;
		width: 97.92%;
		left: 1.05%;
	}

	#u11521
	{
		margin-right: -10000px;
		margin-top: 99px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11523
	{
		margin-right: -10000px;
		margin-top: 99px;
		width: 47.87%;
		left: 0.99%;
	}

	#u11525-4
	{
		line-height: 29px;
		margin-top: 41px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11530-4
	{
		line-height: 29px;
		margin-top: 39px;
		width: 97.92%;
		margin-left: 0.99%;
	}

	#u11541
	{
		margin-top: 69px;
		width: 97.97%;
		margin-left: 0.99%;
	}

	#u11535-4
	{
		min-height: 123px;
		line-height: 96px;
		margin-top: 36px;
		width: 56.72%;
		margin-left: 2.82%;
	}

	#u11542-4
	{
		line-height: 29px;
		width: 97.92%;
		margin-left: 0.99%;
	}

	#u11548
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 47.82%;
		left: 0.99%;
	}

	#pu11550
	{
		margin-top: 35px;
		width: 100%;
	}

	#pu11503-6,#pu11560
	{
		margin-top: 42px;
		width: 100%;
	}

	#u11560_img
	{
		margin-bottom: -0.10893246187363835%;
		width: 100%;
	}

	#u11543-4,#u11544-4
	{
		line-height: 29px;
		margin-top: 42px;
		width: 97.92%;
		margin-left: 0.99%;
	}

	#u11564
	{
		margin-right: -10000px;
		width: 47.77%;
		left: 1.05%;
	}

	#u11531,#u11550,#u11558,#u11560,#u11568
	{
		margin-right: -10000px;
		width: 47.82%;
		left: 0.99%;
	}

	#u11513,#u11528,#u11533,#u11562,#u11566,#u11570
	{
		margin-right: -10000px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11545-4,#u11546-4
	{
		line-height: 29px;
		margin-top: 28px;
		width: 97.92%;
		margin-left: 0.99%;
	}

	#u11552,#u11554,#u11556,#u11574
	{
		margin-right: -10000px;
		width: 47.77%;
		left: 51.15%;
	}

	#pu11580-4
	{
		margin-top: 23px;
		width: 100%;
	}

	#u11580-4
	{
		min-height: 46px;
		font-size: 18px;
		line-height: 22px;
		margin-right: -10000px;
		margin-top: 1px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11526,#u11572,#u11576
	{
		margin-right: -10000px;
		width: 47.87%;
		left: 0.99%;
	}

	#u11578
	{
		margin-right: -10000px;
		width: 47.71%;
		left: 51.15%;
	}

	#pu11582-4
	{
		margin-top: 24px;
		width: 100%;
	}

	#u11582-4
	{
		min-height: 47px;
		line-height: 22px;
		margin-right: -10000px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11581-4,#u11583-4
	{
		min-height: 47px;
		line-height: 22px;
		margin-right: -10000px;
		width: 47.82%;
		left: 51.15%;
	}

	#u11588-4
	{
		line-height: 29px;
		margin-top: 36px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#pu11593
	{
		margin-top: 1px;
		width: 100%;
	}

	#u11595
	{
		margin-right: -10000px;
		width: 47.97%;
		left: 50.99%;
	}

	#u11589-4
	{
		line-height: 29px;
		margin-top: 37px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#pu11526,#pu11548,#pu11601
	{
		margin-top: -1px;
		width: 100%;
	}

	#u11493,#u11511,#u11586,#u11593,#u11601
	{
		margin-right: -10000px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11603
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 47.82%;
		left: 50.99%;
	}

	#pu11597
	{
		margin-top: 33px;
		width: 100%;
	}

	#u11597
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 47.82%;
		left: 1.05%;
	}

	#u11584,#u11599
	{
		margin-right: -10000px;
		width: 47.82%;
		left: 50.99%;
	}

	#u11590-8
	{
		line-height: 29px;
		margin-top: 34px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#pu11605-4
	{
		margin-top: -7px;
		width: 100%;
	}

	#u11605-4
	{
		min-height: 84px;
		line-height: 29px;
		margin-right: -10000px;
		width: 97.97%;
		left: 1.05%;
	}

	#infa
	{
		left: 951px;
	}

	#u11536-4
	{
		min-height: 123px;
		line-height: 96px;
		top: -5px;
		margin-bottom: -5px;
		width: 95.94%;
		margin-left: 2.87%;
	}

	#u11592-28
	{
		min-height: 224px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11592-4,#u11592-8,#u11592-12,#u11592-16,#u11592-17,#u11592-21,#u11592-25
	{
		font-size: 24px;
		line-height: 29px;
	}

	#u11538-4
	{
		min-height: 122px;
		line-height: 96px;
		margin-top: 8px;
		width: 95.94%;
		margin-left: 2.87%;
	}

	#pu17363,#pu11493,#u11493_img,#u11495_img,#pu11511,#pu11502-6,#u11526_img,#pu11531,#u11554_img,#pu11558,#u11562_img,#pu11564,#pu11568,#u11570_img,#pu11572,#u11572_img,#u11574_img,#pu11576,#u11576_img,#u11578_img,#pu11586,#u11586_img,#u11593_img,#u11595_img,#ppu11606-45
	{
		width: 100%;
	}

	#pu11606-45
	{
		margin-right: -10000px;
		width: 40.58%;
		margin-left: 1.05%;
	}

	#u11606-45
	{
		background-color: transparent;
		font-size: 26px;
		line-height: 31px;
		width: 99.75%;
	}

	#u11607-25
	{
		min-height: 475px;
		font-size: 26px;
		line-height: 31px;
		width: 99.75%;
	}

	#u11609-8
	{
		font-size: 26px;
		line-height: 31px;
		margin-top: 4px;
		width: 99.75%;
		margin-left: 0.26%;
	}

	#pu11611-59
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.86%;
		margin-left: 50.11%;
	}

	#u11611-59
	{
		min-height: 838px;
		background-color: transparent;
		font-size: 26px;
		line-height: 31px;
		width: 100%;
	}

	#u11608-17
	{
		min-height: 276px;
		background-color: transparent;
		font-size: 26px;
		line-height: 31px;
		width: 82.84%;
	}

	#u11606-2,#u11611-2,#u11608-2
	{
		text-transform: uppercase;
		color: #042006;
		font-family: open-sans, sans-serif;
		font-weight: 600;
	}

	#u11606-4,#u11606-6,#u11606-8,#u11606-10,#u11606-12,#u11606-14,#u11606-16,#u11606-18,#u11606-20,#u11606-22,#u11606-24,#u11606-26,#u11606-28,#u11606-30,#u11606-32,#u11606-34,#u11606-36,#u11606-38,#u11606-40,#u11606-42,#u11606-43,#u11611-4,#u11611-6,#u11611-8,#u11611-10,#u11611-12,#u11611-14,#u11611-16,#u11611-18,#u11611-20,#u11611-22,#u11611-24,#u11611-26,#u11611-28,#u11611-30,#u11611-32,#u11611-34,#u11611-36,#u11611-38,#u11611-40,#u11611-42,#u11611-44,#u11611-46,#u11611-48,#u11611-50,#u11611-52,#u11611-54,#u11611-56,#u11611-57,#u11608-4,#u11608-6,#u11608-8,#u11608-10,#u11608-12,#u11608-14
	{
		font-family: open-sans, sans-serif;
		font-weight: 400;
	}

	#u11610-10
	{
		font-size: 26px;
		line-height: 31px;
		width: 82.84%;
	}

	#u11539-4
	{
		min-height: 131px;
		line-height: 96px;
		top: -4px;
		margin-bottom: -4px;
		width: 95.94%;
		margin-left: 2.87%;
	}

	#u11510-4,#u11547-6,#u11591-53
	{
		line-height: 29px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11540-4
	{
		min-height: 117px;
		line-height: 96px;
		width: 95.94%;
		margin-left: 2.87%;
	}

	#u11613-13
	{
		min-height: 317px;
		line-height: 29px;
		width: 97.92%;
		margin-left: 1.05%;
	}

	#u11618-4
	{
		min-height: 65px;
		line-height: 31px;
		width: 81.05%;
		margin-left: 9.48%;
	}


